# Statistics

## Answer 9

In [10]:
import pandas as pd
import numpy as np
from scipy.stats import f_oneway

In [8]:
# Dataset
dataset = {
    'karan': [85, 90, 92],
    'deepa': [70, 80, 85],
    'karthik': [90, 85, 88],
    'chandan': [75, 70, 75],
    'jeevan': [95, 92, 96]
}

In [11]:
# Calculating mean scores
mean_scores = {name: np.mean(scores) for name, scores in dataset.items()}

In [12]:
# Performing one-way ANOVA test
scores = [scores for scores in dataset.values()]
f_statistic, p_value = f_oneway(*scores)

In [13]:
# Printing mean scores
print("Mean Scores:")
for name, score in mean_scores.items():
    print(f"{name}: {score}")

# Printing test results
print("\nHypothesis Test:")
if p_value < 0.05:
    print("The mean scores of the students are not the same.")
    student_with_highest_score = max(mean_scores, key=mean_scores.get)
    print(f"The student with the highest score is: {student_with_highest_score}")
else:
    print("The mean scores of the students are the same.")

Mean Scores:
karan: 89.0
deepa: 78.33333333333333
karthik: 87.66666666666667
chandan: 73.33333333333333
jeevan: 94.33333333333333

Hypothesis Test:
The mean scores of the students are not the same.
The student with the highest score is: jeevan